DB_HOST=domain_name
DB_USER=username_of_database
DB_PASS=password_of_database
DB_NAME=digital_portfolio_system
DB_PROVIDER=supabase
SUPABASE_ONLY=true

EMAIL_USER=email_of_the_system
EMAIL_PASS=password_of_the_system

JWT_SECRET=random_characters

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_ID=